.DS_Store
**/node_modules
**/.browser_modules
**/dist
**/lib
**/src-gen
**/gen-webpack.config.js
**/gen-webpack.node.config.js
**/tsconfig.tsbuildinfo
*.log
license-check-summary.txt*

# plugins folder : ignore downloaded plugins, keep local ones
plugins/*
!plugins/hello-flask/
# still ignore plugin deps & bundles within local plugins
plugins/**/node_modules/
plugins/**/dist/
plugins/**/lib/
plugins/**/*.vsix