.DS_Store
**/node_modules
**/.browser_modules
**/dist
**/lib
**/src-gen
**/gen-webpack.config.js
**/gen-webpack.node.config.js
**/tsconfig.tsbuildinfo
*.log
license-check-summary.txt*

# plugins folder : on ignore tous les plugins sauf ceux ajoutés pour l'App
!plugins/
!plugins/**/
!plugins/**/*
# still ignore plugin deps & bundles
plugins/**/node_modules/
plugins/**/*.vsix